.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
}

body {
    background-color: #131313;
    color: white;
}

.navbar {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

    a:hover {
        color: white;
    }

.paginate_button a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.paginate_button {
    padding: 6px;
    height: 37px;
}


.btn-no-style {
    background-color: inherit;
    color: inherit;
    border: none;
}

th.sorting, th.sorting_asc, th.sorting_desc {
    color: white;
    border-bottom: 1px solid #272727;
}

table.table.dataTable {
    border: none;
}

.td_title, .td_artist, .td_album {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    border-color: #212529;
}

.td_title {
    width: 270px;
    max-width: 270px;
}

.td_artist {
    width: 150px;
    max-width: 150px;
}

.td_album {
    width: 200px;
    max-width: 200px;
}

.td_albumart {
    width: 140px;
}

.imageRelativeContainer {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.imageAbsolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}



#Language, #Genre, #AddSong {
    background: rgba(0,0,0,0);
    color: rgb(108,117,125);
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(31,34,37);
    border-radius: 6px;
}

#AddSong {
    color: white;
    min-width: 100%;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(31,34,37);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(108,117,125,0.5);
    border-radius: 6px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(108,117,125,1);
        border-radius: 6px;
    }

option:hover {
    background-color: rgba(108,117,125,0.1);
}

option:checked, option:focus, option:active {
    background: linear-gradient(rgb(31,34,37), rgb(31,34,37));
    background-color: rgb(31,34,37) !important;
    color: rgb(206 206 206) !important;
}

select:focus {
    outline: 3px solid rgba(31,34,37,0.5) !important;
    border: none;
}

.bootbox.modal.fade.show .modal-dialog {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

button.bootbox-close-button.close {
    border: none;
}

.bootbox-close-button {
    display: none;
}

.modal-content {
    background-color: black;
    border: 1px solid white;
}

.modal {
    background-color: rgba(0,0,0,0.5);
}
